<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" />

    <link rel="stylesheet" href="../src/m-grid.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.5/angular.min.js"></script>

    <script src="../src/m-grid.module.js"></script>
    <script src="../src/m-grid.config.js"></script>
    <script src="../src/m-grid.service.js"></script>
    <script src="../src/m-grid.directive.js"></script>
    <script src="../src/m-grid.pagination.js"></script>
    <script src="../src/m-grid.start-from.filter.js"></script>
    <script src="../src/m-grid.progress-circular.directive.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/styles/vs.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/highlight.min.js"></script>
    <script>
        hljs.initHighlightingOnLoad();
    </script>

    <style>
        html,
        body {
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
            height: 100%;
            font-size: 13px;
        }

        table {
            font-size: 13px;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="index.html">m-grid</a>
            </div>
        </div>
    </nav>

    <div ng-app="app" ng-controller="appCtrl" class="container">
        <div class="pull-right">
            <div style="display: inline-block">
                <label><input type="checkbox" ng-model="gridOptions.urlParams.even" /> Even only</label>
            </div>
            <div style="display: inline-block">
                <input class="form-control" placeholder="Search" ng-model="gridOptions.search" />
            </div>
        </div>
        <div class="clearfix"></div>
        <br/>
        <m-grid grid-options="gridOptions"></m-grid>
    </div>

    <script>
        var app = angular.module('app', ['m-grid']);

        app.controller('appCtrl', function ($scope, $q) {
            window['q'] = $q;
            $scope.gridOptions = {
                columns: [{
                    name: '#',
                    field: 'id'
                }, {
                    name: 'Full name',
                    field: 'fullName'
                }, {
                    name: 'Email',
                    field: 'email'
                }],
                sorting: true,
                defaultSorting: 'id',
                async: true,
                asyncData: function(options) {
                    return new Promise(function(resolve, reject) {
                        var d = Array.prototype.concat([], data);
                        d = d.filter(function(item) {
                            return (!options.term || item.fullName.indexOf(options.term) !== -1) && (!options.even || item.id % 2 === 0)
                        }).slice(options.skip, options.take + options.skip)
                        setTimeout(function() {
                            resolve(d);
                        }, 1000);
                    })
                },
                asyncDataCount:  function(options) {
                    return new Promise(function(resolve, reject) {
                        var d = Array.prototype.concat([], data);
                        d = d.filter(function(item) {
                            return (!options.term || item.fullName.indexOf(options.term) !== -1) && (!options.even || item.id % 2 === 0)
                        })
                        setTimeout(function() {
                            resolve(d.length);
                        }, 1000);
                    })
                },
                enableSearch: true,
                urlParams: {
                    even: false
                }
            };

            var data = [];

            for (var i = 0; i < 105; i++) {
                data.push({
                    id: (i + 1),
                    fullName: 'Name ' + (i + 1),
                    email: 'email' + (i + 1) + '@test.com'
                })
            }
        })
    </script>

    <div class="container">
        <h3>Code</h3>
        <pre style="background-color: transparent; border: 1px solid #aaa;"><code class="html">
&lt;div ng-app="app" ng-controller="appCtrl"&gt;
    &lt;m-grid grid-options="gridOptions"&gt;&lt;/m-grid&gt;
&lt;/div&gt;

&lt;script&gt;
var app = angular.module('app', ['ui.bootstrap', 'm-grid']);

app.controller('appCtrl', function($scope) {
    $scope.gridOptions = {
        columns: [{
            name: '#',
            field: 'id'
        }, {
            name: 'Full name',
            field: 'fullName'
        }, {
            name: 'Email',
            field: 'email'
        }],
        sorting: true,
        defaultSorting: 'id',
        async: true,
        asyncData: 'http://example.com/dataurl?term={term}&skip={skip}&take={take}&orderby={orderby}&flag={flag}',
        asyncDataCount: 'http://example.com/datacounturl?term={term}&flag={flag}',
        urlParams: {
            flag: true
        },
        enableSearch: true        
    };
})
&lt;/script&gt;
      </code>
    </pre>
    <div class="alert alert-info">
        <ul>
            <li>
                We can use a function who return a promise in <code>asyncData</code> and <code>asyncDataCount</code>.
            </li>
            <li>
                <code>urlParams</code> is optional parameters for query
            </li>
            <li>
                Internal query parameters is <code>term, orderby, skip, take, page, limit</code>
            </li>
            <li>
                We get orderby field. In ascending order we get fieldname and in desending order we get <code>-</code> prefix.
            </li>
            <li>
                For sorting there two more options <code>sortby</code> and <code>sorttype</code>. In <code>sortby</code>, we will get only fieldname and in <code>sorttype</code> we get <code>asc|desc</code>.
            </li>
            <li>
                Optional custom proeprty we can pass in urlParams.
            </li>
        </ul>
    </div>
    </div>

</body>

</html>