.m-grid {
    margin-bottom: 20px;
}

.m-grid-table {
    margin-bottom: 0px;
}

.m-grid-th {
    text-transform: capitalize;
}

.m-grid-th a {
    text-decoration: none;
    color: #333;
}

.m-grid-sortorder::after {
    content: '\25b2';
}

.m-grid-sortorder-reverse::after {
    content: '\25bc';
}

.m-grid-footer {
    border: 1px solid #ddd;
    border-top-width: 0px;
}
